[user]
	name = Gonzalo López Grassi
	email = glopezgrassi@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff "sopsdiffer"]
	textconv = sops -d
[pull]
	rebase = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
